

.form-control {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #ffffff;
  border-radius: 15px;
  transition: border-color 0.9s ease-in-out, box-shadow 0.9s ease-in-out;
}

.is-invalid {
  border-color: #dc3545;
}

.invalid-feedback {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.registerWrapper form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.registerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
}

.registerWrapper form input {
  margin-bottom: 10px;
}

.loginWrapper button {
  width: 100%;
}